@model ProgressCheck.Models.Fibbo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fibo</title>
</head>
<body>

<h4>Fibbo</h4>
<hr />
 <div>
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
